<mat-toolbar color="primary" class="mat-elevation-z8 position-fixed z-index-2">
  <mat-toolbar-row>

    <span class="title">
      <a href="/" title="Pokédex">
        <img src="/favicon/icon-512x512.png" alt="Pokédex"> Pokédex
      </a>
    </span>

  </mat-toolbar-row>
</mat-toolbar>

<div class="container pt-5 pb-3">

  <div class="row pt-4 pt-sm-5 pb-2">

    <div class="col-12">

      <mat-grid-list [cols]="gridColumns" rowHeight="1:1" *ngIf="!loading && error">
        <mat-grid-tile class="error" [colspan]="gridColumns" [rowspan]="gridColumns > 2 ? 2 : 3">
          <p>There was an error downloading the information. Why don't you try again?</p>
          <button mat-raised-button type="button" (click)="reload()">Reload</button>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list [cols]="gridColumns" rowHeight="1:1" *ngIf="loading && !error">
        <mat-grid-tile class="loader" [colspan]="gridColumns" [rowspan]="gridColumns > 2 ? 2 : 3">
          <mat-progress-spinner [color]="'primary'" [diameter]="60" [strokeWidth]="4" [mode]="'indeterminate'" *ngIf="loading"></mat-progress-spinner>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list [cols]="gridColumns" rowHeight="1:1" *ngIf="!loading && !error">
        <mat-grid-tile class="pokemon" *ngFor="let e of elements" title="Click to explore basic information" (click)="openBasicInfo(e)" matRipple [matRippleCentered]="true" [matRippleColor]="'rgba(255,157,157,0.10)'">
          <img class="image" [src]="e.image" alt="{{e.name}}" (error)="fallbackImg($event)"/>
          <div class="name">{{e.name}}</div>
          <div class="data">
            <span><b>Type:</b> {{e.types.join(', ') | titlecase}}&nbsp;&#x2022;&nbsp;<b>Weight:</b> {{e.weight}}&nbsp;&#x2022;&nbsp;<b>Abilities:</b> {{e.abilities.join(', ') | titlecase}}</span>
          </div>
        </mat-grid-tile>
      </mat-grid-list>

    </div>
    <div class="col-12 pt-3">
      <mat-paginator [showFirstLastButtons]="true" color="primary" [length]="totalLength" [pageSize]="PAGESIZE" [disabled]="loading"></mat-paginator>
    </div>

  </div>

</div>
