.z-index-2 {
  z-index: 2;
}

.title {

  a {
    font-size: 31px;
    line-height: 55px;

    img {
      width: 50px;
      vertical-align: -14px;
    }
  }
}

.container {
  max-width: 960px !important;
}

mat-progress-spinner {
  margin: 0 auto;
}

mat-grid-list {
  max-width: 936px;
  margin: 0 auto;
  background-color: #FAFAFA;
}

mat-paginator {
  background-color: #F44336 !important;
  color: white !important;
  border-radius: 10px;

  ::ng-deep .mat-paginator-page-size {
    display: none;
  }

  ::ng-deep .mat-paginator-range-label {
    font-size: 16px;
    font-weight: 700;
  }

}

.error {
  background-color: rgba(255, 157, 157, 0.25);
  border-radius: 10px;

  ::ng-deep figure {
    align-items: unset !important;
    justify-content: normal !important;
    display: block !important;
    padding: 27vh 15px 0 15px;
    text-align: center;
  }

}

.loader {
  background-color: rgba(255, 157, 157, 0.25);
  border-radius: 10px;
}

.pokemon {
  background-color: rgba(255, 157, 157, 0.25);
  border-radius: 10px;

  .image {
    width: 65%;
    height: 65%;
    margin-top: -70px;

    @media (max-width: 600px) {
      margin-top: -63px;
    }
  }

  .name {
    position: absolute;
    background-color: #F44336;
    bottom: 52px;
    padding: 1px 11px;
    border-radius: 18px;
    color: white;
    text-transform: capitalize;

    @media (max-width: 600px) {
      bottom: 47px;
    }
  }

  .data {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #424242;
    bottom: 0;
    padding: 2px 9px;
    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 13px;
    width: 100%;
    height: 38px;

    @media (max-width: 600px) {
      height: 42px;
      font-size: 11px;
      line-height: 12px;
    }

  }

  &:hover {
    cursor: pointer;
    background-color: rgba(255, 157, 157, 0.50);
  }

}
