mat-progress-spinner {
  margin: 50px auto;
}

h2 {
  background-color: #F44336;
  color: white;
  padding: 1px 12px;
  border-radius: 18px;
  width: fit-content;
  margin: -9px auto 14px auto;

  @media (max-width: 523px) {
    margin: -11px auto 14px auto;
  }

}

img {
  width: 172px;
  margin-left: 31px;

  @media (max-width: 523px) {
    margin-top: 11px;
    width: 144px;
    margin-left: 0;
  }

}

.fc-red {
  color: #F44336;
}

.fs-18 {
  font-size: 18px !important;
}

.action-align-end {
  justify-content: flex-end;
}
