<div *ngIf="loading && !error">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <mat-progress-spinner [color]="'primary'" [diameter]="60" [strokeWidth]="4" [mode]="'indeterminate'"></mat-progress-spinner>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!loading && error">
  <mat-dialog-content class="mat-typography pt-3">

    <div class="container">
      <div class="row">
        <div class="col-12 pt-5 pb-5">
          There was an error getting detailed information of this Pokemon.
        </div>
      </div>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions class="action-align-end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial color="primary">CLOSE</button>
  </mat-dialog-actions>
</div>

<div *ngIf="!loading && !error">
  <h2 mat-dialog-title>{{pokemon.name | titlecase}}</h2>

  <mat-dialog-content class="mat-typography pt-3">

    <div class="container">
      <div class="row">
        <div class="col-6 col-sm-7">
          <img class="image" [src]="pokemon.image" alt="{{pokemon.name}}" (error)="fallbackImg($event)"/>
        </div>
        <div class="col-6 col-sm-5">
          <p>
          <dl>
            <dt>Type</dt>
            <dd>{{pokemon.types.join(', ') | titlecase}}</dd>
            <dt>Weigth</dt>
            <dd>{{pokemon.weight}}</dd>
            <dt>Abilities</dt>
            <dd>{{pokemon.abilities.join(', ') | titlecase}}</dd>
          </dl>
        </div>
        <div class="col-12 pt-1">
          <dl>
            <dt>Evolutions</dt>
            <dd>
              <span *ngFor="let e of pokemon.evolutions; let i = index">
                <span [ngClass]="{'fw-bold fc-red': e.id === pokemon.id}">{{e.name | titlecase}}</span>
                <span *ngIf="i !== pokemon.evolutions.length - 1" class="fw-bold fs-18">&nbsp;&#xbb;&nbsp;</span>
              </span>
            </dd>
            <dt>Description</dt>
            <dd>{{pokemon.description}}</dd>
          </dl>
        </div>
      </div>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions class="action-align-end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial color="primary">CLOSE</button>
  </mat-dialog-actions>
</div>
