@import './variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/reboot';

@import '~bootstrap/scss/containers';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/utilities/api';

@import './reset';

@import '~@angular/material/theming';

$custom-typography: mat-typography-config($font-family: 'sans-serif');

@include mat-core($custom-typography);

$light-primary: mat-palette($mat-red);
$light-accent: mat-palette($mat-teal);
$light-warn: mat-palette($mat-deep-orange);

$light-theme: mat-light-theme((color: (primary: $light-primary, accent: $light-accent, warn: $light-warn)));

.app-light-theme {
  @include angular-material-theme($light-theme);
}
