* {
  &:active,
  :focus {
    outline: none !important;
  }
}

label {
  margin-bottom: 0;
}


a:not(.mat-button):not(.mat-raised-button):not(.mat-fab):not(.mat-mini-fab):not([mat-list-item]) {
  color: white;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #121212 inset !important;
  box-shadow: 0 0 0 30px #121212 inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

hr {
  margin: 0;
}
